.error-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh 0 0;
    color: color('black');

    &__img {
        width: 90px;
        height: 90px;
    }

    &__title {
        margin: 0 0 10px;
    }
}
