.popup-data-agreement {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.2s ease-in;

    &.is-active {
        left: 0;
        background-color: rgba(0, 0, 0, .65);
    }

    &__inner {
        position: relative;
        margin: 10px;
        padding: 50px;
        max-width: 600px;
        background-color: color('white');
        border-radius: 10px;
        text-align: center;

        @media (max-width: grid('xs')) {
            padding: 30px;
        }
    }

    &__text {
        margin: 0 0 15px;
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;

        @media (max-width: grid('xs')) {
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__text-link {
        margin: 0 0 0 5px;
        color: color('green');
        text-decoration: none;
    }

    &__btns-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__btn {
        width: 80px;
        height: 50px;
        padding: 10px;
        border: none;
        border-radius: 0;
        color: color(black);
        background-color: color('grayDark');
        font-size: 17px;
        font-weight: 600;
        line-height: 20px;
        cursor: pointer;
        outline: none;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: color('grayDarkest');
        }
    }

    &__btn-agree {
        margin: 0 100px 0 0;
        color: color('white');
        background-color: color('green');
        
        &:hover {
            background-color: color('greenDark');
        }
    }
}
