* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif !important;
}

body {
    position: relative;
    display: block;
    height: 100%;
    min-height: 100vh;
    background-color: color('white');
}

.page-wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

a {
    text-decoration: none;
}

.is-hidden {
    display: none;
}
