.spinner {
    margin: -10px;
}

@keyframes ldio-unvncehvo79 {
   0% { transform: translate(6px,40px) scale(0); }
  25% { transform: translate(6px,40px) scale(0); }
  50% { transform: translate(6px,40px) scale(1); }
  75% { transform: translate(40px,40px) scale(1); }
 100% { transform: translate(74px,40px) scale(1); }
}

@keyframes ldio-unvncehvo79-r {
   0% { transform: translate(74px,40px) scale(1); }
 100% { transform: translate(74px,40px) scale(0); }
}

@keyframes ldio-unvncehvo79-c {
   0% { background: #ffffff }
  25% { background: #ffffff }
  50% { background: #ffffff }
  75% { background: #ffffff }
 100% { background: #ffffff }
}

.ldio-unvncehvo79 div {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(40px,40px) scale(1);
  background: #ffffff;
  animation: ldio-unvncehvo79 1.8518518518518516s infinite cubic-bezier(0,0.5,0.5,1);
}

.ldio-unvncehvo79 div:nth-child(1) {
  background: #ffffff;
  transform: translate(74px,40px) scale(1);
  animation: ldio-unvncehvo79-r 0.4629629629629629s infinite cubic-bezier(0,0.5,0.5,1), ldio-unvncehvo79-c 1.8518518518518516s infinite step-start;
}

.ldio-unvncehvo79 div:nth-child(2) {
  animation-delay: -0.4629629629629629s;
  background: #ffffff;
}

.ldio-unvncehvo79 div:nth-child(3) {
  animation-delay: -0.9259259259259258s;
  background: #ffffff;
}

.ldio-unvncehvo79 div:nth-child(4) {
  animation-delay: -1.3888888888888888s;
  background: #ffffff;
}

.ldio-unvncehvo79 div:nth-child(5) {
  animation-delay: -1.8518518518518516s;
  background: #ffffff;
}

.loadingio-spinner-ellipsis-7dorm2m2a2 {
  width: 46px;
  height: 40px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-unvncehvo79 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.46);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.ldio-unvncehvo79 div { box-sizing: content-box; }
