.sber-id {
    margin: 0 auto;
    padding: 30px;
    max-width: 504px;

    @media (max-width: grid('xs')) {
        padding: 30px 16px;
    }

    &__title {
        font-size: 22px;
        line-height: 30px;
        font-weight: 600;
    }

    &__main {
        padding: 14px 0 0;
    }

    &__options-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin: 10px 0;

        @media (max-width: grid('xs')) {
            flex-wrap: wrap;
        }
    }

    &__option {
        flex-grow: 1;
        margin: 0 5px;
        padding: 10px;
        border: none;
        color: color('black');
        background-color: color('grayDark');
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:first-child {
            margin: 0 5px 0 0;

            @media (max-width: grid('xs')) {
                margin: 0;
            }
        }

        &:last-child {
            margin: 0 0 0 5px;

            @media (max-width: grid('xs')) {
                margin: 0;
            }
        }

        @media (max-width: grid('xs')) {
            flex-grow: 0;
            margin: 0;
            width: 48.8%;

            &:nth-child(1), &:nth-child(2) {
                margin: 0 0 10px;
            }
        }

        &:hover {
            color: color('white');
            background-color: color('black2');
        }

        &.is-active {
            cursor: auto;
            color: color('white');
            background-color: color('black2');
        }
    }

    &__create-wrap {
        margin: 28px 0 0;
        border-top: 1px solid color('gray');

        @media (max-width: grid('xs')) {
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
        }

        &.is-desktop {
            @media (max-width: grid('xs')) {
                display: none;
            }    
        }

        &.is-mobile {
            display: block;
            position: relative;
            
            @media (min-width: grid('xs')) {
                display: none;
            }    
        }
    }

    &__create {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0 0;

        @media (max-width: grid('xs')) {
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            margin: 17px 20px 20px;
        }
    }

    &__create-link {
        display: inline-flex;
        align-items: baseline;
        justify-content: flex-start;
        margin: 0 10px 0 0;
        text-decoration: none;
        color: color('black');

        @media (max-width: grid('xs')) {
            margin: 0 0 5px;
        }
    }
    
    &__create-link-text {
        margin: 0 6px 0 0;
        font-size: 17px;
        line-height: 18px;
        letter-spacing: 0.2px;
    }

    &__create-link-svg {
        height: 12px;
        width: 12px;
        fill: color('black');
    }

    &__create-desc {
        width: 48%;
        color: color('grayDarkest');
        font-size: 12px;
        line-height: 18px;

        @media (max-width: grid('xs')) {
            width: 100%;
        }
    }
}
