.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 32px 18px;
    border-bottom: 1px solid color('gray');

    @media (max-width: grid('md')) {
        padding: 13px 32px 9px;
    }

    @media (max-width: grid('xs')) {
        justify-content: space-between;
        padding: 13px 16px 9px;
    }

    &__sber-icon-wrap {
        padding: 0 105px 0 0;

        @media (max-width: grid('md')) {
            padding: 0 108px 0 0;
        }

        @media (max-width: grid('xs')) {
            padding: 0;
        }
    }

    &__sber-icon {
        width: 159px;
        height: 29px;

        @media (max-width: grid('md')) {
            width: 131px;
            height: 24px;
        }
    }

    &__link-wrap {
        margin: 0 0 5px;
        cursor: pointer;
        border-bottom-color: transparent;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        transition: all 0.2s ease-in-out;

        &:hover {
            border-bottom-color: color('black');
        }
    }

    &__link, &__link-mobile {
        display: inline-flex;
        align-items: baseline;
        justify-content: flex-start;
        text-decoration: none;
        color: color('black');
    }

    &__link {
        @media (max-width: grid('xs')) {
            display: none;
        }
    }

    &__link-mobile {
        display: none;

        @media (max-width: grid('xs')) {
            display: inline-block;
        }
    }
    
    &__link-text {
        margin: 0 8px 0 0;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.2px;
    }

    &__link-svg {
        height: 9px;
        width: 9px;
        fill: color('black');
    }
}
