.footer {
    display: flex;
    justify-content: center;
    background-color: color('grayDarker');

    @media (max-width: grid('xs')) {
        display: none;
    }

    &__inner {
        width: 100%;
        max-width: 440px;
        margin: 25px 40px 155px;
    }

    &__text {
        color: color('grayDarkest');
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.5px;
    }
}
