.submit-phone {
    &__desc {
        padding: 30px 0 0;
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;

        @media (max-width: grid('xs')) {
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__form {
        padding: 20px 0;
    }

    &__input-phone {
        display: block;
        width: 100%;
        height: 50px;
        max-width: 100%;
        padding: 0 15px;
        border: 1px solid color('gray');
        border-radius: 0;
        box-shadow: none;
        font-size: 20px;
        line-height: 1.3;
        color: color('black');
        background-color: color('white');
        letter-spacing: 1.5px;
        outline: none;
        transition: all 0.2s ease-in-out;
        
        &:focus {
            border-color: color('green');
        }

        &::placeholder {
            color: color('black');
        }

        &.is-error {
            border-color: color('red');

            +.submit-phone__error {
                display: inline;
            }
        }
    }
    
    &__error {
        display: none;
        font-size: 12px;
        line-height: 14px;
        color: color('red');
    }

    &__submit {
        margin: 20px 0 0;
        width: 100%;
        height: 46px;
        padding: 10px;
        border: none;
        color: color('white');
        background-color: color('gray');
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        pointer-events: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        
        &.is-active {
            background-color: color('green');
            pointer-events: auto;

            &:hover {
                background-color: color('greenDark');
            }
        }
    }
}
